# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/team-rbac-management"
JWT_SECRET="jwt-secret-key=min-32-chars"

# Better Auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=qualquer_hash_aleatorio_com_mais_de_32_caracteres
BETTER_AUTH_GITHUB_CLIENT_ID=dummy_github_id
BETTER_AUTH_GITHUB_CLIENT_SECRET=dummy_github_secret

# Resend (E-mail)
RESEND_API_KEY=re_your_api_key
RESEND_FROM_EMAIL=onboarding@resend.dev
